<%-include("partials/headers")%>
<div class="jumbotrons ">

    <div class="container">
        <div class="row ">
            <div class="col-md-4" style="text-align: center;">
                <img src="<%=userData.avatar_url%>" class="headshot headshot-2" alt="image not found" id="image">
                <p> <%=userData.name%> </p>
                <span style="display: block;"><i class="fas fa-user"></i> <strong><%=userData.login%></strong></span>
                <span> <i class="fab fa-github"></i> <%=userData.html_url%></span>
                <p class="mt-3"><span class="user-bio"><%=userData.bio%></span></p>
            </div>
            <div class="col-md-4">
            </div>
            <ul class="list-group mt-4 ml-5">
                <li class="list-group-item list-group-item-dark  ">Last Updated at <span
                        class="badge badge-primary"> <%=updated_at.dateStringUp%></span></li>
                <li class="list-group-item list-group-item-dark">Followers <span
                        class="badge badge-primary"><%=userData.followers%></span>
                </li>
                <li class="list-group-item list-group-item-dark">Following <span
                        class="badge badge-primary"><%=userData.following%></span>
                </li>
                <li class="list-group-item list-group-item-dark">Public Repositories <span class="badge badge-warning">
                        <%=userData.public_repos%></span></li>
                <li class="list-group-item list-group-item-dark">Joined at <span
                        class="badge badge-primary"> <%=created_at.dateString%> </span></li>

            </ul>

        </div>
    </div>


    <ul class="nav justify-content-center">
        <li class="nav-item m-2"><i class="fas fa-user-friends"></i> <%=userData.company%></li>
        <li class="nav-item m-2"><i class="fas fa-map-marker-alt"></i> <%=userData.location%></li>

    </ul>



    <div class="container">
        <hr>
        <h4>Your Github Repositories</h4>
        <div class="row ">
            <%userRepos.forEach(repo =>{%>
            <div class="col-md-4 col-sm-6">
                <div class="card m-1" style="height:200px">
                    <div class="card-body">
                        <div class="card-title">
                            <h4> <a href="<%=repo.html_url%>"><i class="fas fa-book"></i> <%=repo.name%></a></h4>
                        </div>
                        <div class="card-text">
                            <p class="repo-desc"> <%=repo.description%></p>

                        </div>
                    </div>
                </div>
            </div>
            <%})%>
        </div>
    </div>
    <%-include("partials/footer")%>
</div>

