<%-include("partials/headers")%>
<%=userData.login%>
<img src="<%=userData.avatar_url%>" alt="image not found" id="image">


<p>Name :<%=userData.name%></p>
<p>Campany :<%=userData.company%></p>
<p>Location :<%=userData.location%></p>
<p>Bio :<%=userData.bio%></p>
<p>Public Repos :<%=userData.public_repos%></p>
<p>Followers :<%=userData.followers%></p>
<p>Following :<%=userData.following%></p>
<p>Account Created :<%=userData.created_at%></p>
<p>Last Updated :<%=userData.updated_at%></p>